{{ define "Layout" }}
<!doctype html>
<html>
<head>
    {{template "Meta" .}}
    {{template "ScriptsTop" .}}
</head>
<body class="bg-background text-foreground font-sans antialiased">
<!-- ========== Error Modal ========== -->
{{template "ErrorModal" .}}
<!-- ========== END Error Modal ========== -->
<!-- ========== HEADER ========== -->
{{template "Header" .}}
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<!-- Sidebar Toggle -->
<div class="sticky top-0 inset-x-0 z-20 bg-card border-y border-border px-4 sm:px-6 md:px-8 lg:hidden">
    <div class="flex items-center py-4">
        <!-- Navigation Toggle -->
        <button type="button" class="text-muted-foreground hover:text-foreground" data-hs-overlay="#application-sidebar" aria-controls="application-sidebar" aria-label="Toggle navigation">
            <span class="sr-only">Toggle Navigation</span>
            <svg class="w-5 h-5" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <!-- End Navigation Toggle -->
    </div>
</div>
<!-- End Sidebar Toggle -->

<!-- Sidebar -->
{{ template "Sidebar" .}}
<!-- End Sidebar -->
<!-- Content -->
<div id="page-content" class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
{{if eq .Page "dashboard"}}{{template "DashboardContent" .}}{{end}}
{{if eq .Page "users"}}{{template "UsersContent" .}}{{end}}
{{if eq .Page "sessions"}}{{template "SessionsContent" .}}{{end}}
{{if eq .Page "settings"}}{{template "SettingsContent" .}}{{end}}
{{if eq .Page "user_details"}}{{template "UserDetailsContent" .}}{{end}}
{{if eq .Page "session_details"}}{{template "SessionDetailsContent" .}}{{end}}
{{if eq .Page "user_sessions"}}{{template "UserSessionsContent" .}}{{end}}
{{if not .Page}}{{template "Content" .}}{{end}}
</div>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
</body>
{{template "ScriptsBottom" .}}
</html>
{{end}}