{{ define "Layout" }}
<!doctype html>
<html>
<head>
    {{template "Meta" .}}
    {{template "ScriptsTop" .}}
</head>
<body class="bg-background text-foreground font-sans antialiased">
<!-- ========== Error Modal ========== -->
{{template "ErrorModal" .}}
<!-- ========== END Error Modal ========== -->

<!-- ========== MAIN CONTENT ========== -->
<div class="grid min-h-screen w-full grid-cols-[190px_1fr]">
    <!-- Sidebar -->
    {{ template "Sidebar" .}}
    <!-- End Sidebar -->
    
    <!-- Content -->
    <div class="flex flex-col">
        <!-- Header -->
        {{template "Header" .}}
        <!-- End Header -->
        
        <!-- Main Content -->
        <main class="relative flex-1">
            <div id="page-content">
{{if eq .Page "dashboard"}}{{template "DashboardContent" .}}{{end}}
{{if eq .Page "users"}}{{template "UsersContent" .}}{{end}}
{{if eq .Page "sessions"}}{{template "SessionsContent" .}}{{end}}
{{if eq .Page "settings"}}{{template "SettingsContent" .}}{{end}}
{{if eq .Page "user_details"}}{{template "UserDetailsContent" .}}{{end}}
{{if eq .Page "session_details"}}{{template "SessionDetailsContent" .}}{{end}}
{{if eq .Page "user_sessions"}}{{template "UserSessionsContent" .}}{{end}}
{{if not .Page}}{{template "Content" .}}{{end}}
            </div>
        </main>
    </div>
</div>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{{template "ScriptsBottom" .}}
</html>
{{end}}