{{ define "Sidebar" }}
<div class="border-r bg-muted/40">
    <div class="flex h-full max-h-screen flex-col gap-2">
        <div class="flex h-[90px] items-center border-b px-8 justify-start">
            <a class="flex items-center" href="{{ adminPath "" }}">
                <img src="/static/zep-logo-pink.svg" alt="Zep Logo" class="w-[100px] h-[100px]" />
            </a>
        </div>
        <div class="flex-1">
            {{ template "SideNav" . }}
        </div>
    </div>
</div>
{{ end }}