{{ define "SideNav" }}
<nav class="p-6 w-full flex flex-col flex-wrap" x-data="{ currentItem: window.location.pathname.split('/')[2] ?? '' }"
    x-init="window.addEventListener('htmx:pushedIntoHistory', () => { currentItem = window.location.pathname.split('/')[2] ?? '' })">
    <ul class="space-y-1.5" hx-boost="true">
        {{range .MenuItems }}
            {{ $pathList := split "/" .Path }}
            {{ $item := $pathList._2 }}
        <li>
            <a :class="{ 'bg-accent text-accent-foreground': '{{ $item }}' === currentItem }"
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-muted-foreground rounded-lg hover:bg-accent hover:text-accent-foreground transition-colors"
                {{ if .External }} target="_blank" rel="noopener noreferrer" {{ end }} href="{{ .Path }}"
                hx-select="{{ .ContentID }}" hx-target="#page-content">
                {{.Icon }}
                {{.Name}}
            </a>
        </li>
        {{end}}
    </ul>
</nav>
{{end}}